body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.hoverColor:hover{
    background-color: #d32f2f!important;
}
.pt{
    padding-top: 5px !important;
}
.searchBarBorder{
    border: solid 3px #e0e0e0;
}

.checkbox-brown[type="checkbox"].filled-in:checked + span:not(.lever):after
{
    border: 2px solid #6D4C41;
    background-color: #6D4C41;
}

a {
    color: #d32f2f;
}